[Unit]
Description=BiteDJ First Boot RootFS Expand
Before=lightdm.service
ConditionPathExists=/etc/bitedj_first_boot

[Service]
Type=oneshot
ExecStart=/bin/bash -c "raspi-config nonint do_expand_rootfs || true; resize2fs /dev/mmcblk0p2 || true; rm -f /etc/bitedj_first_boot"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
